<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="socket.io.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <style>


            .swstyle {
                /* font-size: 14px; */
                /* height: 24px; */
                /* width: fit-content; */
            }

            .canvasover {   
                position: relative;             
                height: 292px;
                margin: 10px;
                padding: 0px;
            }
            .canvasover canvas {
                
                position: absolute;
                left:0;
                top:0;
                margin: 0px
            }

            /* The switch - the box around the slider */
            .switch {
            position: relative;
            display: inline-block;
            width: 36px;
            height: 18px;
            font-size: 12px;
            font-weight: bold;
            text-align: center;
            margin: 2px;
            margin-bottom: 20px;
            }

            /* Hide default HTML checkbox */
            .switch input {
            opacity: 0;
            width: 0;
            height: 0;
            }

            /* The slider */
            .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
            }

            .slider:before {
            position: absolute;
            content: "";
            height: 14px;
            width: 14px;
            left: 2px;
            bottom: 2px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            }

            input:checked + .slider {
            background-color: #2196F3;
            }

            input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
            }

            input:checked + .slider:before {
            -webkit-transform: translateX(18px);
            -ms-transform: translateX(18px);
            transform: translateX(18px);
            }

            /* Rounded sliders */
            .slider.round {
            border-radius: 18px;
            }

            .slider.round:before {
            border-radius: 50%;
            }

                
        </style>
    </head>
<body>

    <div class="container">

        <h1>Emulador DE2</h1>

        <p>Sua <strong>id</strong> é {{ username }}.</p>

        <div class="canvasover">
            <canvas id="myCanvas" width="961" height="292"></canvas>
            <canvas id="drawCanvas" width="961" height="292"></canvas>
        </div>
        

        <!-- <div class="text-center" id="LEDR">0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0</div> -->

     

    </div>

    <div class="container">
          
          
    </div>

    <div class="container d-flex flex-wrap justify-content-center" id="switches">   
        
       
    </div>

    <div class="container d-flex flex-wrap justify-content-center" id="keys">
    </div>

    <div class="container d-flex justify-content-center mt-3">
        <button id="iniciar" type="button" class="btn btn-danger" onclick="Emular();">Iniciar Emulação</button>
    </div>
    
    <div class="container">

        <div id="status">

        </div>

    </div>
    

    <script>

        window.savedImage = false;
        window.savedImageData = new ImageData(1, 1);
        window.LEDRState = [0,0,0];
        window.HEXState = [0,0,0,0,0,0,0,0];

        function drawImage(imageObj) {

            var canvas = document.getElementById('myCanvas');
            var context = canvas.getContext('2d');
            var imageX = 0;
            var imageY = 0;
            var imageWidth = imageObj.width;
            var imageHeight = imageObj.height;

            context.drawImage(imageObj, imageX, imageY);

            window.savedImageData = context.getImageData(imageX, imageY, imageWidth, imageHeight);

        }

        var imageObj = new Image();
        imageObj.onload = function() { 
            drawImage(this);
        };
        imageObj.src = '/static/all_leds.jpg';

        function paint_ledr(iled, status) {
            if (iled > 17) { return; }         
            var canvas = document.getElementById('drawCanvas');
            var ctx = canvas.getContext('2d');
            imageWidth = canvas.width;
            startx = 923 - iled*52;
            starty = 263;
            endx = 932 - iled*52;
            endy = 277;
            if (status == 1) {
                ctx.fillStyle = "rgba(255,0,0,0.7)";
                ctx.fillRect(startx,starty,10,14);
            } else {
                ctx.clearRect(startx,starty,10,14);
            }
        }

        function updateLEDRs(newvalues) {
            for (var j = 0; j < 3; j++) {
                for (var k = 0; k < 8; k++) {
                    var val = ((newvalues[j] >>> k) & 0x01);
                    if ( val  !=  ((window.LEDRState[j] >>> k) & 0x01) ) {
                        paint_ledr(j*8+k,val);
                    }
                }
            }
            window.LEDRState = newvalues;
        }


        hexposy = 111;
        hexposx = [563, 506, 447, 390, 238, 179, 65, 5];
        hexseg = [ [19,19,45,19,39,25,23,25], // segment a
                   [47,21,43,48,38,45,41,25], // segment b
                   [43,51,39,78,34,73,38,53], // segment c
                   [35,79,11,79,16,72,31,72], // segment d
                   [9,74,13,50,17,54,15,70], // segment e
                   [14,46,17,21,22,26,20,43], // segment f
                   [20,45,38,45,37,52,18,52]]; // segment g

        function updateHEXs(segsdata, status) {
            var canvas = document.getElementById('drawCanvas');
            var ctx = canvas.getContext('2d'); 
            for (var ihex = 0; ihex < 8; ihex++) {
                if (window.HEXState[ihex] == segsdata[ihex]) { continue; }
                base = [hexposx[ihex],hexposy];
                ctx.clearRect(base[0],base[1],56,97);
                for (var isegm = 0; isegm < 7; isegm++) {
                    if (((segsdata[ihex] >>> isegm) & 0x01) == 0) {
                        ctx.beginPath();                    
                        ctx.moveTo(base[0]+hexseg[isegm][0], base[1]+hexseg[isegm][1]); 
                        ctx.lineTo(base[0]+hexseg[isegm][2], base[1]+hexseg[isegm][3]);
                        ctx.lineTo(base[0]+hexseg[isegm][4], base[1]+hexseg[isegm][5]);
                        ctx.lineTo(base[0]+hexseg[isegm][6], base[1]+hexseg[isegm][7]);
                        ctx.closePath();
                        ctx.fillStyle = "rgba(255,0,0,0.8)";
                        ctx.fill();
                    }                
                }
                window.HEXState[ihex] = segsdata[ihex];
            }     
        }

        function getInputStates() {
            var ret = 0;
            for (var k = 0; k < 18; k++) {
                ret = ret | ( ($("#SW" + k).is(":checked") ? 1 : 0) << k);
            }            
            for (var k = 0; k < 4; k++) {
                ret = ret | (1 << (k+20));
            }
            return ret;
        }

        window.socket = 0;
        window.socketOn = false;

        $( document ).ready(function() {
            $("#switches").html("");
            for (var k = 17; k >= 0; k--) {
                $("#switches").append(`
                    <label class="switch">
                        <input id="SW${k}" type="checkbox" onchange="swchanged(${k});">
                        <span class="slider round"></span><br>SW${k}
                    </label>
                `);
                //if ( ((k%6) == 0) && (k > 0) ) {$("#switches").append("<br>")}
            }
            $("#keys").html("");
            for (var k = 3; k >= 0; k--) {
                $("#keys").append(`
                    <button type="button" id="KEY${k}" class="btn btn-primary p-1 m-1" onmousedown="mousedown(${k});" onmouseup="mouseup(${k});">KEY${k}</button>
                `);
            }
        });   
        
        function mousedown(element) {
            if (window.socketOn) {
                window.socket.emit("action","k" + element + "p");
            }
        }
        function mouseup(element) {
            if (window.socketOn) {
                window.socket.emit('action',"k" + element + "r");
            }
        }
        function swchanged(idx) {
            if (window.socketOn) {
                var elid = "SW" + idx;
                var value = $("#"+elid).is(":checked") ? 1 : 0;
                window.socket.emit('action',("s" + String.fromCharCode(idx+0x30)) + value);
            }
        }
        
        
        function Emular() {

            if ( $("#iniciar").html().startsWith("Iniciar") ) {

                $("#iniciar").html("Parar Emulação");
                window.socket = io.connect('http://' + document.domain + ':' + location.port + '/emul')
                window.socket.send("Emular");
                window.socket.on('bytes', function(msg) {
                    //$('#status').append('<br>'+String(msg));  
                    const view = new Int8Array(msg);
                    var aux = [parseInt(view[0]),parseInt(view[1]),parseInt(view[2])];
                    updateLEDRs(aux);
                    aux = [parseInt(view[10]),parseInt(view[9]),parseInt(view[8]),parseInt(view[7]),
                           parseInt(view[6]),parseInt(view[5]),parseInt(view[4]),parseInt(view[3])];
                    updateHEXs(aux);
                    // aux = byte2bits(view[2]) + byte2bits(view[1]) + byte2bits(view[0]);
                    // $('#LEDR').html(aux);
                });
                window.socket.on('message', function(msg){                
                    $('#status').append('<br>'+String(msg));
                });
                window.socket.on('error', function(msg){
                    $('#status').append('<br>Erro:<br>'+String(msg));
                });
                window.socket.on('status', function(msg){
                    if (msg.startsWith("Parado")) {
                        $("#iniciar").html("Iniciar Emulação");
                        $('#status').append('<br>Emulação parada com sucesso.');
                    }
                });
                window.socket.on('disconnect', function(msg){
                    window.socketOn = false;
                });
                window.socket.on('started', function(msg){
                    window.socket.emit("initstate",getInputStates());
                });
                window.socketOn = true;

            } else {
                
                window.socket.send("Parar");                

            }
            
            
            
        }

        function byte2bits(val) {
            result = "";
            for (var k = 7; k >= 0; k--) {
                result = result + ((val >>> k) & 0x01).toString() + " ";
            }
            return result
        }

    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>