<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>FPGA Emulator Web</title>
  <!-- MDB icon -->
  <!-- <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon"> -->
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Google Fonts Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <!-- Bootstrap core CSS -->
  <!-- <link rel="stylesheet" href="static/css/bootstrap.min.css"> -->
  <!-- Material Design Bootstrap -->
  <!-- <link rel="stylesheet" href="static/css/mdb.min.css"> -->
  <!-- Your custom styles (optional) -->
  <!-- <link rel="stylesheet" href="static/css/style.css"> -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"> -->
  <link rel="stylesheet" href="static/css/mystyles.css"> 
  {% block styles %}
  {% endblock %}   
</head>
<body>

    {% if current_user.is_authenticated %}
    <!--Main Navigation-->
    <header>

        <nav class="navbar is-info" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
                FPGAEmuWeb
              </a>
                       
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" onclick="$('.navbar-burger').toggleClass('is-active');$('.navbar-menu').toggleClass('is-active');">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">

                <a class="navbar-item" href="/files">
                  Files
                </a>
          
                <a class="navbar-item" href="/emulation">
                  Emulation
                </a>

                <a class="navbar-item" href="/simulation">
                    Simulation
                </a>

                <a class="navbar-item" href="/editor">
                    Editor
                </a>

                <a class="navbar-item" href="/mapper">
                    Mapper
                </a>

                <a class="navbar-item" href="/help">
                    Help
                </a>          
                
              </div>
          
              <div class="navbar-end">
                {% if current_user.role == 'Admin' %}
                <a class="navbar-item" href="/admin">
                    Admin
                </a> 
                {% endif %}
                <a class="navbar-item" href="/profile">
                    Profile
                </a> 
                <a class="navbar-item" href="/logout">
                    Logout
                </a>  
                <!-- <div class="navbar-item">
                  <div class="buttons">
                    <a class="button is-primary">
                      <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                      Log in
                    </a>
                  </div>
                </div> -->
              </div>
            </div>
          </nav>
        
        

    </header>
    {% endif %}
    <!--Main Navigation-->

    <!--Main layout-->
    <main>

        {% block content %}
        {% endblock %}        

    </main>
    <!--Main layout-->

    <!--Footer-->
    <footer>

    </footer>
    <!--Footer-->

    <!-- jQuery -->
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <!-- <script type="text/javascript" src="static/js/popper.min.js"></script> -->
    <!-- Bootstrap core JavaScript -->
    <!-- <script type="text/javascript" src="static/js/bootstrap.min.js"></script> -->
    <!-- MDB core JavaScript -->
    <!-- <script type="text/javascript" src="static/js/mdb.min.js"></script> -->

    <!-- Socket.IO: -->
    <!-- <script src="/static/socket.io.js"></script> -->
    
    {% if socketiofile %}
    <script src="/static/{{ socketiofile }}"></script>
    {% endif %}


    {% block scripts %}
    {% endblock %}  


</body>
</html>