{% extends "base.html" %}

{% block styles %}

  <style>
      #editor { 
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 500px;
        width: 100%;
        margin-top: 5px;
    }
  </style>
{% endblock %}

{% block content %}

        <!-- <div class="container mt-2">
            Your <strong>id</strong> is {{ username }}.        
        </div> -->

        <input type="hidden" value="{{toplevel}}" id="toplevel">

        {%- if filenames is defined -%}
        <div class="container is-max-desktop mt-3 px-3">
            <div class="select is-small">
                <select id="fileselect" onchange="openfile()" style="min-width: 180px;">
                    <option selected value="0">Choose file...</option>
                    {% for fname in filenames %}
                        <option value="{{fname}}">{{fname}}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="button is-info is-small" onclick="savefile(0);">Save</button>
            <button class="button is-info is-small" onclick="savefileas()">Save As...</button>
            <button class="button is-info is-small" onclick="newfile();">New</button>
            <button class="button is-info is-small" id="toplevelbtn" onclick="settop();" disabled>Set Top Level</button>
            <div class="dropdown" id="tdropdown">
                <div class="dropdown-trigger">
                  <button class="button is-small is-light" aria-haspopup="true" aria-controls="dropdown-menu" onclick="toggleTemplateList();">
                    <span>Templates</span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    <a href="#" class="dropdown-item" onclick="fillWithUsertop();">
                        usertop.vhd
                    </a>
                    <a class="dropdown-item" onclick="fillWithUsertest();">
                        usertest.vhd
                    </a>                    
                  </div>
                </div>
            </div>

            <!-- <div class="dropdown d-inline">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Templates
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#" onclick="fillWithUsertop();">usertop.vhd</a>
                    <a class="dropdown-item" href="#" onclick="fillWithUsertest();">usertest.vhd</a>
                </div>
            </div>              -->
            <button class="button is-warning is-small" onclick="analyze()">Analyze Current File</button>
            <button class="button is-danger is-small" onclick="fpgaCompile()">Compile</button><br>
        </div>
        
        <div class="container is-max-desktop mt-1 px-4">
            <div id="editor"></div>
        </div>
        {% endif %}

        <!-- Button trigger modal -->
        <!-- <button type="button" class="btn btn-primary">
            Launch demo modal
        </button> -->

        <div class="modal is-clipped" id="compilationmodal">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Compilation</p>
                <button class="delete" aria-label="close" onclick="$('#compilationmodal').removeClass('is-active');"></button>
              </header>
              <section class="modal-card-body">
                <div id="myspinner" class="loader is-loading"></div>
                <div id="status">    
                </div> 
              </section>
              <footer class="modal-card-foot">
                <button class="button is-danger is-small" onclick="$('#compilationmodal').removeClass('is-active');">Close</button>
                <button class="button is-info is-small" id="gotoemul" onclick="location.href = '/emulation'">Go to Emulation</button>
              </footer>
            </div>
          </div>


          <div class="modal is-clipped" id="centralModalSm">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title"> </p>
                <button class="delete" aria-label="close" onclick="$('#centralModalSm').removeClass('is-active');"></button>
              </header>
              <section class="modal-card-body">
                <div id="filesavedmsg" class="modal-body">
                    File saved successfully!
                </div>
              </section>
              <footer class="modal-card-foot">
                <button class="button is-link is-small" id="filesavedbutton" onclick="$('#centralModalSm').removeClass('is-active');editor.focus();">Close</button>
              </footer>
            </div>
          </div>


          <div class="modal is-clipped" id="modalSaveAs">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Save As...</p>
                <button class="delete" aria-label="close" onclick="$('#modalSaveAs').removeClass('is-active');"></button>
              </header>
              <section class="modal-card-body">
                <input type="text" id="filenameas" class="input" placeholder="File Name">
                <div id="saveasalert" class="notification is-warning py-1 mt-1">
                    File extension must be ".vhd".                  
                </div>
              </section>
              <footer class="modal-card-foot">
                <button class="button is-danger is-small" onclick="saveAsOrNew()">Save<i class="fas fa-paper-plane-o ml-1"></i></button>
                <button class="button is-link is-small" onclick="$('#modalSaveAs').removeClass('is-active');">Close</button>
              </footer>
            </div>
          </div>
        
          <div class="modal is-clipped" id="modalError">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Error</p>
                <button class="delete" aria-label="close" onclick="$('#modalError').removeClass('is-active');"></button>
              </header>
              <section class="modal-card-body">
                <p id="errorMessage">Modal body text goes here.</p>
              </section>
              <footer class="modal-card-foot">
                <button id="bcloseerr"class="button is-danger is-small" onclick="$('#modalError').removeClass('is-active');">Close</button>
              </footer>
            </div>
          </div> 
        

        
{% endblock %}

{% block scripts %}

    <!-- Your custom scripts (optional) -->
    <script src="/static/ace/ace.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">

        
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
        };
        $(document).ready(function() {
            var arq = getUrlParameter("file");
            if (arq != undefined) {
                $('#fileselect').val(arq);
                openfile(); 
            }
            $('#saveasalert').hide();
            $("#filenameas").on('keyup', function (e) {
                if (e.key === 'Enter' || e.keyCode === 13) {
                    saveAsOrNew();
                }
            });
            editor.focus();
        });

        function errorMessage(msg) {
            $("#errorMessage").html(msg);
            $("#modalError").addClass("is-active");
            $('#bcloseerr').focus();
        }

        window.filechanged = false;

        var editor = ace.edit("editor");
        // editor.setTheme("ace/theme/monokai");
        editor.setTheme("ace/theme/dreamweaver");  
        editor.session.setMode("ace/mode/vhdl");
        editor.commands.addCommand({
            name: 'mySaveFile',
            bindKey: {win: 'Ctrl-S',  mac: 'Command-S'},
            exec: function(editor) {
                savefile(0);
            },
            readOnly: false // false if this command should not apply in readOnly mode
        });
        editor.session.on('change', function(delta) {
            // delta.start, delta.end, delta.lines, delta.action
            window.filechanged = true;
        });
        editor.resize();

        window.socket = 0;
        window.socketOn = false;
        window.lastfilesaveopt = 0;
        window.isnewfile = false;

        function openSocket() {
            window.socket = io.connect('http://' + document.domain + ':' + location.port + '/stream');
            window.socketOn = true;
            window.socket.on('filesaved', function(msg){
                // alert('File saved successfully!');
                $("#filesavedmsg").html('File ' + String(msg) + " saved successfully!");
                $("#centralModalSm").addClass("is-active");   
                $("#filesavedbutton").focus();             
                window.filechanged = false;
                if (window.lastfilesaveopt >= 1) {
                    location.href = "/editor?file=" + String(msg);
                }
                
            }); 
            window.socket.on('filecontent', function(msg){
                editor.setValue(msg);                
                window.filechanged = false;
                editor.moveCursorTo(0,0);
                editor.focus();
            });
            window.socket.on('message', function(msg){     
                if ($('#status').html() == "") {
                    $('#status').html(String(msg));
                } else {
                    $('#status').append('<br>'+String(msg));
                }                
            });
            window.socket.on('errors', function(msg){
                $('#status').append('<br><span style="color:red;">Errors:<br>'+String(msg)+"</span>");
                $("#myspinner").hide();
            });
            window.socket.on('success',function(msg){
                $('#status').append(`
                    <span style="color:blue;">
                        Compilation successful!<br>
                        You can now start your emulation.
                    </span>
                `);
                $("#gotoemul").attr('disabled', false);
                $("#myspinner").hide();
            });
            window.socket.on('asuccess',function(msg){
                $('#status').append(`
                    <span style="color:blue;">
                        Analysis end up successfully!
                    </span>
                `);
                $("#myspinner").hide();
            });
            window.socket.on('disconnect', function(msg){
                window.socketOn = false;
            });
            window.socket.on('error',function(msg){
                errorMessage(String(msg));
            });
            window.socket.on('notlogged',function(msg){
                location.href = '/login';
            });
        }

        function openfile() {  

            var val = $("#fileselect").children("option:selected").val();
            if (val != 0) {
                if (!window.socketOn) {
                    openSocket();
                }
                window.socket.emit("getfile",val);
                checktoplevel(val);
                // $('#editor').show();            
            } else {
                editor.setValue("");
                $("#toplevelbtn").text('Set Top Level');
                $("#toplevelbtn").prop('disabled', true);
                // $('#editor').hide();
            }           

        }

        function savefile(opt) {
            /*
                opt = 0: Save.
                opt = 1: Save As.
                opt = 2: Save New.
            */
            $('#saveasalert').hide(); 
            window.lastfilesaveopt = opt; 

            var val = $("#fileselect").children("option:selected").val();
            // if (((opt == 1) && (val != 0)) || (opt == 2)) {
            if ( opt > 0 ) {
                val = $("#filenameas").val();
            } 

            if (val != 0) {
                if ( val.endsWith(".vhd") ) {
                    if (!window.socketOn) { openSocket(); }
                    $("#modalSaveAs").removeClass('is-active');
                    if (opt == 2) {
                        window.socket.emit("savefile",{filename: val, data:""});                         
                    } else {
                        window.socket.emit("savefile",{filename: val, data:editor.getValue()}); 
                    }                               
                } else {
                    $('#saveasalert').show();
                }                
            }          

        }

        function saveAsOrNew() {
            if (!window.isnewfile) {
                savefile(1);
            } else {
                savefile(2);
            }
        }

        function savefileas() {
            window.isnewfile = false;
            $("#modalSaveAs").addClass("is-active");   
            $('#filenameas').focus();
        }

        function newfile() {
            window.isnewfile = true;
            $("#modalSaveAs").addClass("is-active");
            $('#filenameas').focus();
        }

        function fpgaCompile() {
            if (window.filechanged) {
                var r = confirm("The current file is not saved.\nStart compilation anyways?");
                if (r == false) {
                    return;
                }
            }
            $("#status").html("");
            $("#myspinner").show();
            $("#gotoemul").attr('disabled', true);
            // $("#fullHeightModalRight").modal();
            $("#compilationmodal").addClass("is-active");
            if (!window.socketOn) {
                openSocket();
            }
            window.socket.send("Compile")            
        }

        function analyze() {
            if (window.filechanged) {
                var r = confirm("The current file is not saved.\nAnalyze anyways?");
                if (r == false) {
                    return;
                }
            }
            var val = $("#fileselect").children("option:selected").val();
            if (val != 0) {               
                $("#status").html("");
                $("#myspinner").show();
                $("#gotoemul").attr('disabled', true);
                $("#compilationmodal").addClass("is-active");
                if (!window.socketOn) {
                    openSocket();
                }
                window.socket.emit("Analyze",val)
            }
        }

        function checktoplevel(fname) {
            if (fname == ($("#toplevel").val() + ".vhd")) {
                $("#toplevelbtn").prop('disabled', true);
                $("#toplevelbtn").text("File is Top Level");
            } else {
                $("#toplevelbtn").prop('disabled', false);
                $("#toplevelbtn").text("Set Top Level");
            }
        }

        function settop() {
            var val = $("#fileselect").children("option:selected").val();
            if (val != 0) {
                var tlevelname = val.slice(0,-4);
                $.post("/settoplevel",{ toplevelfile: tlevelname } ).done(
                    function (data) {
                        $("#toplevel").val(tlevelname);
                        checktoplevel(val);
                        data = "";
                    }
                );
            }
        }

        var usertoptemplate = `library ieee;
use ieee.std_logic_1164.all;

entity usertop is
port(
	KEY: in std_logic_vector(3 downto 0);
	SW: in std_logic_vector(17 downto 0);
	LEDR: out std_logic_vector(17 downto 0);
	HEX0,HEX1,HEX2,HEX3,HEX4,HEX5,HEX6,HEX7	: out std_logic_vector(6 downto 0)
	);
end usertop;

architecture rtl of usertop is
begin
    
    LEDR(0) <= SW(0);
    LEDR(1) <= SW(1);
    LEDR(2) <= SW(2);
    LEDR(3) <= SW(3);
    
    LEDR(16) <= KEY(0);
    LEDR(17) <= KEY(1);
    
    HEX6 <= "0000110";
    HEX5 <= "0000110";
    HEX4 <= "1000111";
    HEX3 <= "0010010";
    HEX2 <= "1111001";
    HEX1 <= "1000000";
    HEX0 <= "0010010";

end rtl;`;

        var usertesttemplate=`library ieee;
use ieee.std_logic_1164.all;

entity usertest is
end usertest;

architecture tb of usertest is

    -- Signal declarations:
    signal A,B : std_logic;
    signal C: std_logic_vector(2 downto 0);
    
    -- Component declarations:
    component mycomponent is port ( 
      PortA,PortB: in std_logic;
      PortC: out std_logic_vector(2 downto 0) );
    end component;

begin

    -- Component instantiation and port map:
    DUT : mycomponent port map (PortA => A, PortB => B, PortC => C);
    
    -- Stimuli:
    A <= '0', '1' after 20 ns, '0' after 40 ns;
    B <= '0', '1' after 10 ns, '0' after 20 ns, '1' after 30 ns;
    
end tb;`;

        function fillWithUsertop() {
            editor.insert(usertoptemplate);
            editor.focus();
            $('#tdropdown').removeClass('is-active');
        }

        function fillWithUsertest() {
            editor.insert(usertesttemplate);
            editor.focus();
            $('#tdropdown').removeClass('is-active');
        }

        function toggleTemplateList() {
            if ($('#tdropdown').hasClass("is-active")) {
                $('#tdropdown').removeClass('is-active');
            } else {
                $('#tdropdown').addClass('is-active');
            }
        }
        
    </script>
    
{% endblock %}