{% extends "base.html" %}

{% block styles %}
  <style>

            body    {overflow-y:scroll;}    
            
            .swlabel {
                position: absolute;
                left: 0px;
                top: 2.2em;
                width: 3em;
                height: 1.5em;
                font-size: min(1vw,12px);
                font-weight: bold;
                text-align: center;
                padding: 0px;
                margin: 0px;
                /* text-shadow: rgba(0,0,0,.01) 0 0 1px;    */
                z-index: 2;
            }

            /* The switch - the box around the slider */
            .switch {
                position: relative;
                display: inline-block;
                font-size: min(1vw,12px);
                width: 3em;  
                height: 1.5em;
                /* max-width: 32px; */
                /* width: 32px;
                height: 16px; */
                margin: 0px;
                margin-bottom: 3em;
                margin-top: 1.5em;
                padding: 0px;            
                /* padding: 10px; */
                /* margin-left: 10px; */
                /* margin-right: 10px; */
                /* transform: rotate(-90deg); */
            }

            /* Hide default HTML checkbox */
            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

            /* The slider */
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                /* opacity: 0.5; */
                background-color: #ccc;
                -webkit-transition: .4s;
                transition: .4s;
                z-index: 0;
                transform: rotate(-90deg);
            }

            .slider:before {
                position: absolute;
                content: "";
                height: 70%;
                width: 35%;
                /* height: 1.1vw;
                width: 1.1vw; */
                /* height: 12px;
                width: 12px; */
                left: 5%;
                bottom: 15%;
                /* left: 2px;
                bottom: 2px; */
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
                z-index: 1;
            }

            input:checked + .slider {
                background-color: #2196F3;
            }

            input:focus + .slider {
                box-shadow: 0 0 1px #2196F3;
            }

            input:checked + .slider:before {
                /* -webkit-transform: translateX(16px);
                -ms-transform: translateX(16px);
                transform: translateX(16px); */
                /* -webkit-transform: translateX(1.5vw);
                -ms-transform: translateX(1.5vw);
                transform: translateX(1.5vw); */
                -webkit-transform: translateX(150%);
                -ms-transform: translateX(150%);
                transform: translateX(150%);
            }

            /* Rounded sliders */
            .slider.round {
                /* border-radius: 16px; */
                border-radius: 1vw;
            }

            .slider.round:before {
                border-radius: 50%;
            }

  </style>
{% endblock %}


{% block content %}

        <input type="hidden" id="username" value="{{username}}">

        <div class="container mt-2 px-4 pb-0 is-max-desktop">
            <div class="container is-max-desktop mt-0 has-text-centered" id="imgDiv">
                <img src="/static/board.png" width="100%" id="mainImg" style="position: relative; z-index: -1;">
                <!-- <canvas id="myCanvas" width="961px" height="292px"></canvas> -->
                <canvas class="pb-0" id="drawCanvas" width="961px" height="292px" style="position: absolute; top: 0px; left: 0px;"></canvas>
            </div>
        </div>

        <!-- style="display: flex; justify-content: space-between; border: 2px solid red;" -->
        <div class="container has-text-centered mt-0 pt-0 px-5 is-max-desktop" id="switches" >         
       
        </div>
    
        <div class="container has-text-centered mt-1" id="keys">

        </div>

        <div class="container has-text-centered mt-3">
            <button id="iniciar" type="button" class="button is-danger" onclick="$('#iniciar').prop('disabled',true); Emular();">Start Emulation</button>
        </div>

        

        <div class="container mt-2 is-max-desktop px-4">
            <div id="status" class="notification is-info is-light py-2"></div>    
        </div>

{% endblock %}
   
{% block scripts %}

    <!-- Socket.IO: -->
    <!-- <script src="/static/socket.io.js"></script> -->
    <!-- Your custom scripts (optional) -->
    <script type="text/javascript">

        window.username = "";
        window.socket = 0;
        window.socketOn = false;
        window.scl = 1;
        window.blockactions = true;

        function adjustCanvas() {
            // console.log("!!!");
            var rect = document.getElementById("mainImg").getBoundingClientRect();
            // console.log(rect.top, rect.right, rect.bottom, rect.left);
            // console.log($("#mainImg").width())
            // console.log($("#drawCanvas").width())
            // console.log(rect.top);
            // console.log($("#drawCanvas").css("position"));
            // $("#drawCanvas").css("top",rect.top);
            // $("#drawCanvas").css("left",rect.left);
            $("#drawCanvas").width( $("#mainImg").width() );
            $("#drawCanvas").height( $("#mainImg").height() );
            var canvas = document.getElementById('drawCanvas');
            var ctx = canvas.getContext('2d');
            window.scl = $("#mainImg").width() / 961;
            // canvas.scale(window.scl,window.scl);
        }

        $("#mainImg").ready(adjustCanvas);

        $(window).resize(adjustCanvas);

        window.LEDRState = [0,0,0];
        window.HEXState = [0,0,0,0,0,0,0,0];

        function paint_ledr(iled, status) {
            if (iled > 17) { return; }      
            // console.log(iled);   
            var canvas = document.getElementById('drawCanvas');
            var ctx = canvas.getContext('2d');
            ctx.fillStyle = "rgba(255,0,0,0.5)";
            ctx.fillRect(0,0,0.5,0.5);
            imageWidth = canvas.width;
            startx = (925 - Math.round(iled*52.2));
            starty = 263 ;
            // endx = (932 - iled*52);
            // endy = 277 ;
            if (status == 1) {
                ctx.fillStyle = "rgba(255,0,0,0.7)";
                ctx.fillRect(startx,starty,10,14);
            } else {
                ctx.clearRect(startx,starty,10,14);
            }
        }

        function updateLEDRs(newvalues) {
            for (var j = 0; j < 3; j++) {
                for (var k = 0; k < 8; k++) {
                    var val = ((newvalues[j] >>> k) & 0x01);
                    if ( val  !=  ((window.LEDRState[j] >>> k) & 0x01) ) {
                        paint_ledr(j*8+k,val);
                    }
                }
            }
            window.LEDRState = newvalues;
        }


        hexposy = 96;
        hexposx = [28+525, 28+450, 28+375, 28+299, 28+225, 28+150, 28+75, 28];
        hexseg = [ [19,19,45,19,39,25,23,25], // segment a
                   [47,21,43,48,38,45,41,25], // segment b
                   [43,51,39,78,34,73,38,53], // segment c
                   [35,79,11,79,16,72,31,72], // segment d
                   [9,74,13,50,17,54,15,70], // segment e
                   [14,46,17,21,22,26,20,43], // segment f
                   [20,45,38,45,37,52,18,52]]; // segment g

        function updateHEXs(segsdata, status) {
            var canvas = document.getElementById('drawCanvas');
            var ctx = canvas.getContext('2d'); 
            for (var ihex = 0; ihex < 8; ihex++) {
                // if (window.HEXState[ihex] == segsdata[ihex]) { continue; }
                base = [hexposx[ihex],hexposy];
                ctx.clearRect(base[0],base[1],56,97);
                for (var isegm = 0; isegm < 7; isegm++) {
                    if (((segsdata[ihex] >>> isegm) & 0x01) == 0) {
                        ctx.beginPath();                    
                        ctx.moveTo(base[0]+hexseg[isegm][0], base[1]+hexseg[isegm][1]); 
                        ctx.lineTo(base[0]+hexseg[isegm][2], base[1]+hexseg[isegm][3]);
                        ctx.lineTo(base[0]+hexseg[isegm][4], base[1]+hexseg[isegm][5]);
                        ctx.lineTo(base[0]+hexseg[isegm][6], base[1]+hexseg[isegm][7]);
                        ctx.closePath();
                        ctx.fillStyle = "rgba(255,0,0,0.8)";
                        ctx.fill();
                    }                
                }
                window.HEXState[ihex] = segsdata[ihex];
            }     
        }

        function getInputStates() {
            var ret = 0;
            for (var k = 0; k < 18; k++) {
                ret = ret | ( ($("#SW" + k).is(":checked") ? 1 : 0) << k);
            }            
            for (var k = 0; k < 4; k++) {
                ret = ret | (1 << (k+20));
            }
            return ret;
        }

        

        $(document).ready(function() {
            window.username = $("#username").val();
            $(window).bind('beforeunload',function() {
                if (window.socketOn) { window.socket.send("Parar"); }
                return undefined;
            });
            $("mainImg").css("margin-bottom","-" + $("mainImg").height() + "px;")             
            $("#meuform").submit(function () { return false; });
            $("#switches").html("");
            for (var k = 17; k >= 0; k--) {
                $("#switches").append(`                   
                    <label class="switch">
                        <span class="swlabel">SW${k}</span>
                        <input id="SW${k}" type="checkbox" onchange="swchanged(${k});">
                        <span class="slider round"></span>
                    </label>
                `);
                //if ( ((k%6) == 0) && (k > 0) ) {$("#switches").append("<br>")}
            }
            $("#keys").html("");
            for (var k = 3; k >= 0; k--) {
                $("#keys").append(`
                    <button type="button" id="KEY${k}" class="button is-info is-small" onmousedown="mousedown(${k});" onmouseup="mouseup(${k});" onmouseout="mouseup(${k});">KEY${k}</button>
                `);
            }            
        });   
        
        function mousedown(element) {
            if (window.blockactions) { return; }
            if (window.socketOn) {
                window.socket.emit("action","k" + element + "p");
            }
        }
        function mouseup(element) {
            if (window.blockactions) { return; }
            if (window.socketOn) {
                window.socket.emit('action',"k" + element + "r");
            }
        }
        function swchanged(idx) {
            if (window.blockactions) { return; }
            if (window.socketOn) {
                var elid = "SW" + idx;
                var value = $("#"+elid).is(":checked") ? 1 : 0;
                window.socket.emit('action',("s" + String.fromCharCode(idx+0x30)) + value);
            }
        }
        
        
        function Emular() {

            if ( $("#iniciar").html().startsWith("Start") ) {

                adjustCanvas();
                $("#iniciar").html("Stop Emulation");
                window.socket = io.connect('http://' + document.domain + ':' + location.port + '/emul');       
                window.socket.on('connect', function(msg) {                    
                    window.socket.send("Emular");                    
                });
                window.socket.on('bytes', function(msg) {
                    //$('#status').append('<br>'+String(msg));  
                    const view = new Int8Array(msg);
                    // if (view.byteLength != 11) { return; }
                    var aux = [parseInt(view[0]),parseInt(view[1]),parseInt(view[2])];
                    updateLEDRs(aux);
                    aux = [parseInt(view[10]),parseInt(view[9]),parseInt(view[8]),parseInt(view[7]),
                           parseInt(view[6]),parseInt(view[5]),parseInt(view[4]),parseInt(view[3])];
                    updateHEXs(aux);
                    // console.log(view);
                    // aux = byte2bits(view[2]) + byte2bits(view[1]) + byte2bits(view[0]);
                    // $('#LEDR').html(aux);
                });
                window.socket.on('message', function(msg){    
                    if (($('#status').html() == "") || String(msg).startsWith("Emulation started")) {
                        $('#status').html(String(msg));
                    } else {
                        $('#status').append('<br>'+String(msg));
                    }      
                    
                });
                window.socket.on('error', function(msg){
                    $('#status').append('<br>Error:<br>'+String(msg));
                });
                window.socket.on('status', function(msg){
                    if (msg.startsWith("Parado")) {
                        window.blockactions = true;
                        $("#iniciar").html("Start Emulation");
                        $('#status').append('<br>Emulation has stopped.');
                        window.socket.disconnect();
                        window.socketOn = false;                                                
                        setTimeout(function (){
                            $('#iniciar').prop('disabled',false);
                            $("#drawCanvas").hide();
                        }, 1000);                        
                    }
                });
                window.socket.on('disconnect', function(msg){
                    window.socketOn = false;
                });
                window.socket.on('started', function(msg){
                    $("#drawCanvas").show();
                    window.socket.emit("initstate",getInputStates());
                    window.blockactions = false;
                    setTimeout(function (){
                        $('#iniciar').prop('disabled',false);
                    }, 1000);
                });
                window.socket.on('notlogged',function(msg){
                    location.href = '/login';
                });
                window.socketOn = true;

            } else {
                
                window.blockactions = true;
                window.socket.send("Parar");                

            }
            
                    
            
        }
        
    </script>
    
{% endblock %}  