{% extends "base.html" %}

{% block styles %}

<style>
    .portname { 
        font-size: large;
        font-weight: bold;
    }
</style>

{% endblock %}

{% block content %}

 <!-- <div class="container mt-2">
            Your <strong>id</strong> is {{ username }}.        
        </div> -->

        {%- if filenames is defined -%}
        <div class="container mt-4 px-4 is-max-desktop">
            <div class="select">
                <select id="fileselect" class="" onchange="openmap()" style="min-width: 250px;">
                    <option selected value="0">Choose file...</option>
                    {% for fname in filenames %}
                        <option value="{{fname}}">{{fname}}</option>
                    {% endfor %}
                </select>  
            </div> 
        
            <h3 class="title is-4 mb-1 mt-3">Port Mapping</h3>
            <p class="mb-2 is-1 has-text-weight-bold" style="color: red;">Only useful for emulation of the top level entity.</p>

            <label class="checkbox">
                <input type="checkbox" value="" id="enableMapCheck" onchange="checkchanged()">
                Enable Port Mapping
            </label>

            <div id="portmap" class="container" style="text-size-adjust: 70%;"></div>

            <article class="message is-danger p-2 mt-2 mb-0" id="alerts" style="display: none;">
                <div class="message-body has-text-weight-bold">
                    Mapping has errors.
                </div>
            </article>

            <button id="bSave" class='mt-2 button is-small is-info' onclick="buildmap()">Save</button>

        </div>  
        {% endif %}

        

{% endblock %}

{% block scripts %}

    <script type="text/javascript">

        function getform(idx,typesize,direction) {
            var ax = '<div class="select is-small"><select id="Name' + idx + '" onchange="selectChanged(' + idx + ');">';
            if (direction == "in") {
                ax = ax + " <option>SW</option><option>KEY</option>";
                if (typesize == 1) { ax = ax + " <option>CLK_1Hz</option><option>CLK_10Hz</option><option>CLK_500Hz</option>"; }
                ax = ax + "</select></div>";
            } else {
                ax = ax + `                    
                        <option>LEDR</option><option>HEX0</option><option>HEX1</option><option>HEX2</option>
                        <option>HEX3</option><option>HEX4</option><option>HEX5</option><option>HEX6</option>
                        <option>HEX7</option>
                    </select></div>              
                `;
            }
            if (typesize == 1) {
                ax = ax + '( <input type="text" maxlength=2 style="width: 30px;" id="rangeA' + idx + '"> )';
            } else {
                ax = ax + '( <input type="text" maxlength=2 style="width: 30px;" id="rangeA' + idx + '"> downto ';
                ax = ax + '<input type="text" maxlength=2 style="width: 30px;" id="rangeB' + idx + '"> )';
            }
            return ax;
        }

        function selectChanged(idx) {
            var val = $("#Name" + idx).children("option:selected").val();
            if (val.startsWith("CLK")) {
                $('#rangeA' + idx).prop( "disabled", true );
            } else {
                $('#rangeA' + idx).prop( "disabled", false );
            }
        }

        function gettypetext(typesize) {
            if (typesize == 1) {
                return "std_logic";
            } else {
                typesize = typesize-1;
                return "std_logic_vector(" + typesize + " downto 0)";
            }
        }

        window.socket = 0;
        window.socketOn = false;
        window.lastportdata = 0;

        function openSocket() {
            window.socket = io.connect('http://' + document.domain + ':' + location.port + '/stream');
            window.socketOn = true;
            window.socket.on('portlist', function(dataa){
                msg = dataa[0];
                if (msg === "Error: ports not found in usertop.") {
                    $("#portmap").html("No ports in entity.");
                    $("#bSave").prop('disabled', true);
                    return;
                } else {
                    $("#bSave").prop('disabled', false);
                }
                msg2 = dataa[1];
                var plist = new Array(); 
                window.lastportdata = msg;
                aux = '<table class="table is-striped mt-3 mb-3"><thead><tr><th>Instance Port</th><th>Emulator Element</th></tr></thead><tbody>';
                for (var ii = 0; ii < msg.length; ii++) {
                    plist.push(msg[ii].name);
                    aux = aux + '<tr><td class="mt-1 item' + ii + '"><span class="portname">';
                    aux = aux + msg[ii].name + "</span> " + gettypetext(msg[ii].typesize) + ' </td><td class="item' + ii + '">  '; // <i class="fas fa-grip-lines fa-sm"></i><i class="fas fa-chevron-right fa-sm"></i>                  
                    aux = aux +  getform(ii,msg[ii].typesize,msg[ii].direction);
                    aux = aux + ' </td>\n';
                }
                aux = aux + '</tbody></table>';
                $("#portmap").html(aux);
                for (var ii = 1; ii < msg2.length; ii++) {
                    var idx = plist.indexOf(String(msg2[ii][0]));
                    if (idx > -1) {
                        $("#Name" + idx + " option").filter(function() {
                            return $(this).text() == msg2[ii][1];
                        }).prop('selected', true);
                        $( "#rangeA" + idx).val(msg2[ii][2]);
                        if (msg2[ii].length == 4) {
                            $( "#rangeB" + idx).val(msg2[ii][3]);
                        }                                             
                    }
                }
                if (msg2[0] == "enabled") {
                    $('#enableMapCheck').prop('checked', true);                    
                } else {
                    $('#enableMapCheck').prop('checked', false);
                }
                checkchanged();
                if (msg2[0] == "enabled") {
                    for (var ii = 0; ii < msg.length; ii++) {
                        selectChanged(ii);
                    }
                }
            }); 
            window.socket.on('mapsavesuccess', function(msg){
                $("#alerts").html("Map saved successfully!<br><strong>Don't forget to recompile</strong>.");
                $("#alerts").removeClass("is-danger").addClass("is-info").delay(100).fadeIn(300);
            });
            window.socket.on('notlogged',function(msg){
                location.href = '/login';
            });
            window.socket.on('error',function(msg){
                $("#alerts").html(msg);
                $("#alerts").removeClass("is-info").addClass("is-danger").delay(100).fadeIn(300);
            });
        }

        function checkchanged() {
            ckb = $("#enableMapCheck").is(':checked');
            if (ckb) {
                $('[id^=Name]').prop( "disabled", false );
                $('[id^=range]').prop( "disabled", false );
            } else {
                $('[id^=Name]').prop( "disabled", true );
                $('[id^=range]').prop( "disabled", true );
            }
        }

        function openmap() {  
            $("#alerts").hide();
            var val = $("#fileselect").children("option:selected").val();
            if (val != 0) {
                if (!window.socketOn) {
                    openSocket();
                }
                window.socket.emit("getmap",val);          
            } else {
                $("#portmap").html("");
            }           

        }

        function buildmap() {
            var val = $("#fileselect").children("option:selected").val();
            $("#alerts").hide();
            if (val != 0) {
                errorflag = false;
                axx = "";
                ax2 = "";
                for (var jj = 0; jj < window.lastportdata.length; jj++) {
                    name = $( "#Name" + jj + " option:selected" ).text();
                    rangeA = $( "#rangeA" + jj).val();
                    if (name.startsWith('CLK')) {
                        axx = axx + window.lastportdata[jj].name + " => " + name
                    } else {
                        axx = axx + window.lastportdata[jj].name + " => " + name + "(" + rangeA;
                    }
                    ax2 = ax2 + window.lastportdata[jj].name + ":"
                    if (window.lastportdata[jj].typesize == 1) {
                        if (name.startsWith('CLK')) { axx = axx + ", ";  }
                        else { axx = axx + "), "; }
                        ax2 = ax2 + name + "," + rangeA + "\n"
                        if (!portok(1,name,rangeA,0)) {
                            $(".item" + jj).addClass("has-background-danger-light");
                            errorflag = true;
                        } else {
                            $(".item" + jj).removeClass("has-background-danger-light");
                        }
                    } else {
                        rangeB = $( "#rangeB" + jj).val();
                        axx = axx + " downto " +  rangeB + "), ";
                        ax2 = ax2 + name + "," + rangeA + "," + rangeB + "\n";
                        if (!portok(window.lastportdata[jj].typesize,name,rangeA,rangeB)) {
                            $(".item" + jj).addClass("has-background-danger-light");
                            errorflag = true;
                        } else {
                            $(".item" + jj).removeClass("has-background-danger-light");
                        }
                    }
                }
                ckb = $("#enableMapCheck").is(':checked');
                if (errorflag && ckb) {
                    $("#alerts").html("Mapping has errors.")
                    $("#alerts").removeClass("is-info").addClass("is-danger").delay(100).fadeIn(300);
                    return; 
                }
                window.socket.emit("savemap",{filename: val, data: (ckb ? axx.slice(0,-2) : "") + "\n" + ax2.slice(0,-1)});                
            } 
        }

        function portok(tsize,name,rangeA,rangeB) {
            rangeA = parseInt(rangeA);
            rangeB = parseInt(rangeB);
            if ( name.startsWith("CLK")) {
                return true;
            } else if ( isNaN(rangeA) || isNaN(rangeB)) {
                return false;
            } else if (tsize == 1) { rangeB = rangeA; } 
            var dif = rangeA - rangeB;
            // console.log(tsize + name + rangeA + "" + rangeB + "" + dif);
            if (rangeA < rangeB) {
                return false;                
            } else if ( dif != (tsize-1) ) {
                return false;                
            } else if (((name == "SW") || (name == "LEDR")) && ((rangeA > 17) || (rangeB > 17))) {
                return false;                
            } else if ( (name == "KEY") && ((rangeA > 3) || (rangeB > 3)) ) {
                return false;                
            } else if ( (name.startsWith("HEX")) && ((rangeA > 6) || (rangeB > 6)) ) {
                return false;                
            }
            return true;
        }

        function maperror(idx) {
            $(".item" + idx).addClass("is-danger");
        }


    </script>

{% endblock %}