{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="static/css/jquery-ui.structure.min.css">  
    <link rel="stylesheet" href="static/css/jquery-ui.theme.min.css">   

    <style>

        /* Hide the nested list */
        .nesteditem {
            display: none;
        }

        /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
        .activeitem {
            display: block;
        }

    </style>
{% endblock %} 

{% block content %}


    <div class="container is-fullwidth px-4 py-1 mt-3">

        <button id="gotoemul" type="button" class="button is-info m-0 is-small" onclick="location.href = '/downloadsimfile'">Download ghw file</button>

        <div class="columns mt-1 is-1">

            <div class="column is-narrow" style="border: 1px solid lightgray;">
                <div id="maintree" class="">
                    <h6 class="pt-3 pl-1 is-6">Instances & Signals</h6>
                    <hr>
                    <ul class="mb-1 pl-3 pb-2" id="instancelist">
                    </ul>
                  </div>
            </div>

            <div class="column" style="border: 1px solid lightgray;">
                
                <div class="m-3">
                    <div id="slider-range"></div>
                </div>

                <div class="container is-block m-0 p-0">
                    <div id="plotsvg" class="m-0 p-0" >                        
                    </div>
                </div>                

            </div>



        </div>


        

    </div>

{% endblock %}

{% block scripts %}
   
    <script src="static/js/jquery-ui.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@3.0/dist/svg.min.js"></script>

    <script type="text/javascript">

        window.socket = 0;
        window.socketOn = false;
        window.lastfilesaveopt = 0;
        window.isnewfile = false;

        window.hie = 0;
        window.data = 0;
        window.draw = 0;
        window.plotlist = {}; 
        window.typelist = {};
        window.zoomlimits = [0,100];

        function openSocket() {
            window.socket = io.connect('http://' + document.domain + ':' + location.port + '/stream');
            window.socketOn = true;
            window.socket.on('ghwsignals', function(data){
                plotdata(data);
            }); 
            window.socket.on('ghwdata', function(data){
                window.hie = data[0];
                window.data = data[1];
                populateinstlist(window.hie);
                // $('#maintree').mdbTreeview();
                var tempdata = data[1][Object.keys(data[1])[0]];
                var maxtime = tempdata[tempdata.length-2]/1000000;
                // console.log(maxtime);
                $("#slider-range").slider('option',{min: 0, max: maxtime});
            }); 
            window.socket.on('disconnect', function(msg){
                window.socketOn = false;
            });
            window.socket.on('error',function(msg){
                errorMessage(String(msg));
            });
        }

        function requestghwsignals() {
            if (!window.socketOn) {
                openSocket();
            }
            window.socket.emit("requestghwsignals");
        }

        function requestghwdata() {
            if (!window.socketOn) {
                openSocket();
            }
            window.socket.emit("requestghwdata");
        }

        
        $( document ).ready(function() {  
            window.draw = SVG().addTo('#plotsvg').size(500, 200).css('position','relative');
            window.wdraw = window.draw.nested().addTo('#plotsvg').size(500, 200).css('position','absolute');   
            requestghwdata();
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 500,
                values: [ 0, 500 ],
                change: function( event, ui ) {
                    window.zoomlimits[0] = ui.values[0];
                    window.zoomlimits[1] = ui.values[1];
                    plotselecteddata(window.zoomlimits[0],window.zoomlimits[1]);
                    // $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
                }
            });
        });
 

        $(window).resize(function() {
            plotselecteddata();
        });

        function populateinstlist(hie) {
            htmldata = "";
            var insts = Object.keys(hie);
            insts.forEach(inst => {
                var activeornot = (inst == insts[0]) ? "active" : "";
                htmldata = htmldata + `<li><i class="fas fa-angle-right toggler"></i> 
                              <span><i class="fas fa-cube ic-w mx-1"></i>${inst}</span>
                              <ul class="nesteditem ${activeornot}">`;
                var sigs = Object.keys(hie[inst]);
                sigs.forEach(sig => {
                    var symboltext = "fas fa-wave-square";
                    if (hie[inst][sig]['type'] == 'port-in') {
                        symboltext = "fas fa-arrow-alt-circle-right";
                    } else if (hie[inst][sig]['type'] == 'port-out') {
                        symboltext = "fas fa-arrow-alt-circle-left";
                    }
                    htmldata = htmldata + `<li><i class="${symboltext} ic-w mr-1"></i>
                        <input class="mr-1" type="checkbox" id="check${inst}.${sig}" 
                        onchange="changecheck('${inst}','${sig}',this.checked);">${sig}</li>`;
                });
                htmldata = htmldata + `</ul>
                                     </li>`;
            });
            $('#instancelist').html(htmldata);

            var toggler = document.getElementsByClassName("toggler");
            var i;
            for (i = 0; i < toggler.length; i++) {
                console.log(i);
                toggler[i].addEventListener("click", function() {
                    // alert("clicked!");
                    this.parentElement.querySelector(".nesteditem").classList.toggle("activeitem");
                    this.classList.toggle("fa-rotate-90");
                });
            }

        }



        function changecheck(inst,sig,ischecked) {
            keyy = inst + "." + sig;
            if (ischecked) {
                window.plotlist[keyy] = window.hie[inst][sig]['idxs'];
                window.typelist[keyy] = window.hie[inst][sig]['datatype'];
            } else {
                if (window.plotlist.hasOwnProperty(keyy)) {
                    delete window.plotlist[keyy];
                    delete window.typelist[keyy];                    
                }
            }
            plotselecteddata();
        }

        const plotheight = 22;
        const rowheight = 26;        
        const margintb = 2;
        const fontsize = plotheight/2 + 1;
        const fontdef = {family: 'Helvetica', size: fontsize, weight: 'bold', anchor: 'middle', leading: '1em'};
        function plotselecteddata(tmin=0,tmax) {

            var draw = window.draw;
            draw.clear();
            var wdraw = window.wdraw;
            wdraw.clear();

            var sinais = Object.keys(window.plotlist);

            if (sinais.length == 0) { return; }
            
            var compwidth = $('#plotsvg').width()-20;  
            var compheight = (sinais.length+1)*rowheight+5;
            draw.size(compwidth,compheight);
            draw.css('left',10);

            var vcddata = window.data[window.plotlist[sinais[0]]];
            
            maxtextsize = 0;
            var consty = 2*margintb+fontsize/2;
            for (var j = 0; j < sinais.length; j++) {
                var text = draw.text(sinais[j]);
                text.font(fontdef);
                if (text.length() > maxtextsize) { maxtextsize = text.length(); }
                text.move(0,consty+rowheight*(j+1));
            }
            maxtextsize = maxtextsize + 5;

            wdraw.size(compwidth-maxtextsize,compheight);
            wdraw.css('left',maxtextsize+10);
            
            var maxtime = vcddata[vcddata.length-2];
            if (typeof tmax == 'undefined') { tmax = maxtime; }
            else { maxtime = tmax*1000000; }            
            mintime = tmin*1000000;
            var scalex = (compwidth-maxtextsize)/(maxtime-mintime);

            var nsteps = 10;
            var timestep = (maxtime-mintime)/nsteps;
            var txttest = draw.text((timestep/1000000*nsteps+mintime/1000000).toFixed(1)+"ns").font(fontdef)
            while (txttest.length() > scalex*timestep) {
                nsteps = nsteps - 2;
                if (nsteps == 0) {
                    nsteps = 1;
                    timestep = (maxtime-mintime)/nsteps;
                    break;
                }
                timestep = (maxtime-mintime)/nsteps;                
                txttest.clear();
                txttest = draw.text((timestep/1000000*nsteps+mintime/1000000).toFixed(1)+"ns").font(fontdef)
            }
            txttest.clear();

            var strokedata = {width: 1, dasharray: [3,3], color: '#AAAAAA'};
            draw.line(0,0,compwidth,0).stroke(strokedata).move(0,margintb+rowheight);
            for (var j = 0; j < (nsteps+1); j++) {
                var txt = draw.text((timestep/1000000*j+mintime/1000000).toFixed(1)+"ns").font(fontdef)
                txt.move(j*scalex*timestep+maxtextsize-1-txt.length(),2*margintb+fontsize/2);
                draw.line(0,0,0,compheight).stroke(strokedata)
                        .move(j*scalex*timestep+maxtextsize,0);
            }

            maxtextsize = 0;
            var flagvec = false;
            var flagslvec = false;
            for (var j = 0; j < sinais.length; j++) {
                ss = window.plotlist[sinais[j]];
                if (window.typelist[sinais[j]] == 'std_logic') {flagvec = false; flagslvec = false;}
                else {
                    flagvec = true;
                    if (window.typelist[sinais[j]].startsWith('std_logic_vector')) { 
                        flagslvec = true; 
                    }
                    else { flagslvec = false; }
                }
                vcddata = data[ss];
                var lastval = 'U';
                
                for (var i = 0; i < vcddata.length-2; i = i + 2) {                    
                    var val = vcddata[i+1].replaceAll("'","");                    
                    if (flagslvec) {
                        draw_others(wdraw,val,lastval,(vcddata[i]-mintime)*scalex,(vcddata[i+2]-mintime)*scalex,fontsize/2+rowheight*(j+1),flagslvec);
                    } else if (flagvec) {
                        draw_others(wdraw,val,lastval,(vcddata[i]-mintime)*scalex,(vcddata[i+2]-mintime)*scalex,fontsize/2+rowheight*(j+1),false);
                    } else {
                        draw_std_logic(wdraw,val,lastval,(vcddata[i]-mintime)*scalex,(vcddata[i+2]-mintime)*scalex,fontsize/2+rowheight*(j+1));    
                    }                    
                    lastval = val;
                }                          
            }

        }

        function stdlvec2hex(slvec) {
            while ( (slvec.length % 4) != 0 ) {
                slvec = "0" + slvec;
            }
            var ret = '';
            for (var i = 0; i < slvec.length; i = i+4) {
                var axx = slvec.slice(i,4+i);
                if (axx.includes('U')) {
                    ret = ret + 'U';
                } else if (axx.includes('X')) {
                    ret = ret + 'X';
                } else {
                    ret = ret + parseInt(axx,2).toString(16).toUpperCase();
                }                
            }
            return ret + 'h';
        }

        var slopex = 2;
        function draw_others(draw,val,lastval,xstart,xend,voffset,isStdLogicVec,groupbin,grouphex) {
            var pheight = plotheight-margintb*2;
            var pmiddle = pheight>>1;
            var ll = xend - xstart;
            var valhex = '';            
            if (isStdLogicVec) { valhex = stdlvec2hex(val); }
            var pline1 = draw.polyline([[0,pmiddle],[0+slopex,0],[ll-slopex,0],[ll,pmiddle],
                                       [ll-slopex,pheight],[0+slopex,pheight],[0,pmiddle]]);
            if (isStdLogicVec && (valhex.includes('U') || valhex.includes('X')) ) {
                pline1.fill('#F0000050').stroke({ color: '#FF0000', width: 2, linecap: 'round', linejoin: 'round' });
            } else {
                pline1.fill('none').stroke({ color: '#00A000', width: 2, linecap: 'round', linejoin: 'round' });
            }            
            pline1.move(xstart,voffset+margintb);            
            
            var text = draw.text(val).font(fontdef);
            text.move(xstart+ll/2-text.length()/2,margintb+2+voffset);
            if (isStdLogicVec) {
                text.hide();
                var textalt = draw.text(valhex).font(fontdef);
                textalt.move(xstart+ll/2-textalt.length()/2,margintb+2+voffset);
                textalt.click(function() {
                    this.hide();
                    text.show();
                });
                text.click(function() {
                    this.hide();
                    textalt.show();
                });
            }          
            // if (text.length() >= ll) {
            //     text = draw.text("!").font(fontdef);
            //     text.move(xstart+ll/2-text.length()/2,margintb+2+voffset);
            // } else {
            //     text.move(xstart+ll/2-text.length()/2,margintb+2+voffset);
            // }            
        }


        function draw_std_logic(draw,val,lastval,xstart,xend,voffset) {
            var pheight = plotheight-margintb*2;                      
            if (val == '0') {   
                var ppoints = [];                         
                if (lastval == '1') {                           
                    ppoints.push([0,0]);
                    ppoints.push([0,pheight]);
                } else {
                    ppoints.push([0,pheight]);
                    voffset = voffset + pheight;
                }
                ppoints.push([xend-xstart,pheight]);
                var pline1 = draw.polyline(ppoints);
                pline1.fill('none').stroke({ color: '#00A000', width: 2, linecap: 'round', linejoin: 'round' });
                pline1.move(xstart,margintb+voffset);
                pline1.plot();
            } else if (val == '1') {
                var ppoints = [];  
                if (lastval == '0') {
                    ppoints.push([xstart,pheight]);
                    ppoints.push([xstart,0]);
                } else {
                    ppoints.push([xstart,0]);
                }                
                ppoints.push([xend,0]);
                var pline1 = draw.polyline(ppoints);
                pline1.fill('none').stroke({ color: '#00A000', width: 2, linecap: 'round', linejoin: 'round' });
                pline1.move(xstart,margintb+voffset);
            } else {  
                var ll = xend-xstart;
                var rrect = draw.rect(ll,pheight).fill("#F0000050").move(xstart,margintb+voffset);
                var ppoints = [[0,0],[ll,0]]; 
                var pline1 = draw.polyline(ppoints);
                pline1.fill('none').stroke({ color: '#F00000', width: 2, linecap: 'round', linejoin: 'round', dasharray: [3,3]});
                pline1.move(xstart,margintb+voffset);
                var pline2 = draw.polyline(ppoints);
                pline2.fill('none').stroke({ color: '#F00000', width: 2, linecap: 'round', linejoin: 'round', dasharray: [3,3]});
                pline2.move(xstart,margintb+voffset+pheight);  
                var text = draw.text(val).font(fontdef);
                text.move(xstart+ll/2-text.length()/2,margintb+2+voffset);
            }
        }

        



    </script>

{% endblock %}