{% extends "base.html" %}

{% block content %}

        

        <div class="container is-max-desktop mt-3 mb-4 px-3">

            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <!-- <article class="message is-danger is-light my-1">
                  <div class="message-body py-1 px-1"> -->
                  <div class="notification is-danger is-light py-1 px-2">
                    {{ messages[0] }}
                  </div>
                  <!-- </div>
                </article> -->
              {% endif %}
            {% endwith %}

            <article class="message is-info ">
                <div class="message-body py-2">
                    User is <strong>{{ username }}</strong>.
                    {% if (current_user.role == 'Admin') or (current_user.role == 'Professor') %}
                        {% if (current_user.viewAs != '') and (current_user.viewAs != current_user.email) %}
                            <span style="color: red;">(viewing as <strong>{{current_user.viewAs}}</strong>).</span>
                        {% endif %}
                    {% endif %}
                </div>
            </article>
            
        </div>

        {%- if filenames is defined -%}
        <div class="container is-max-desktop mt-4 px-3">            
            <button class="button is-info is-small is-pulled-right mx-1" onclick="location.href = '/downloadfile';">Download All</button>
            <button class="button is-danger is-small is-pulled-right mx-1" onclick="deleteAllFiles();">Delete All</button>
            <!-- <h4 class="mb-3">Current files:</h4> -->
            <h4 class="title is-4 m-0">Current files:</h4>
            <table class="table is-fullwidth is-hoverable mt-1" >
                <tbody>
                    <tr><td></td></tr>
                {% for fname in filenames %}
                    <tr><td id="vhd{{ fname }}">
                        {{ fname }}.vhd
                        <button class="button is-danger is-small is-pulled-right mr-1" onclick="deletefile('{{ fname }}.vhd');"><i class="far fa-trash-alt"></i></button>
                        <button class="button is-info is-small is-pulled-right mr-1" onclick="window.open('/downloadafile/{{ fname }}.vhd', '_blank');"><i class="fas fa-download"></i></button>
                        <button class="button is-info is-small is-pulled-right mr-1" onclick="rename('{{ fname }}.vhd');">Rename</button>
                        <button class="button is-info is-small is-pulled-right mr-1" onclick="location.href = '/editor?file={{ fname }}.vhd';">Edit</button>
                        <button id="btl{{ fname }}" class="button is-info is-small is-pulled-right mr-1 settopbtl" onclick="settop('{{ fname }}',true);">Set top level</button>
                    </td></tr>                    
                {% endfor %}
                    <tr><td></td></tr>
                </tbody>   
            </table>

        </div>
        {% else %}
        <div class="container is-max-desktop mt-4 px-3">
            <h4 class="title is-4 m-0">No files in your folder.</h4>
        </div>
        {% endif %}


        <div class="container is-max-desktop mt-3 px-3">
            
            <form class="md-form" id="meuform" enctype="multipart/form-data">

                <div id="fileselector" class="file is-info is-small has-name is-fullwidth" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
                    <label class="file-label">
                      <input class="file-input" type="file" name="fileToUpload" id="fileToUpload" accept=".vhd" multiple>
                      <span class="file-cta">
                        <span class="file-icon">
                          <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                          Files to upload
                        </span>
                      </span>
                      <span class="file-name">
                        ...
                      </span>
                    </label>
                    <button type="button" class="button is-info is-small" onclick="uploadfile();">Upload</button>
                  </div>

            </form> 

            <div class="buttons has-addons is-centered mt-4 mx-3">
                <button type="button" class="button is-danger is-centered" onclick="fpgaCompile();">Compile</button>
            </div>


        </div>


        <div class="modal is-clipped" id="compilationmodal">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Compilation</p>
                <button class="delete" aria-label="close" onclick="$('#compilationmodal').removeClass('is-active');"></button>
              </header>
              <section class="modal-card-body">
                <div id="myspinner" class="loader is-loading"></div>
                <div id="status">    
                </div> 
              </section>
              <footer class="modal-card-foot">
                <button class="button is-danger is-small" onclick="$('#compilationmodal').removeClass('is-active');">Close</button>
                <button class="button is-info is-small" id="gotoemul" onclick="location.href = '/emulation'">Go to Emulation</button>
              </footer>
            </div>
          </div>


        <div class="modal is-clipped" id="modalSaveAs">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Rename to...</p>
                <button class="delete" aria-label="close" onclick="$('#modalSaveAs').removeClass('is-active');"></button>
              </header>
              <section class="modal-card-body">
                <input class="input" type="text" id="filenameas" placeholder="Text input" autofocus>
                <div class="notification is-warning py-1 mt-1" id="saveasalert">
                    File extension must be ".vhd".                  
                </div>
              </section>
              <footer class="modal-card-foot">
                <button type="button" class="button is-info is-small" onclick="renameTo()">Rename</button>
                <button type="button" class="button is-danger is-small" onclick="$('#modalSaveAs').removeClass('is-active');">Close</button>
              </footer>
                
            </div>
        </div>


        <div class="modal is-clipped" id="confirmDialog">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Confirm Deletion</p>
                <button class="delete" aria-label="close" onclick="$('#confirmDialog').removeClass('is-active');"></button>
              </header>
              <section class="modal-card-body">
                <p id="confirmDialogMessage">Modal body text goes here.</p>
              </section>
              <footer class="modal-card-foot">
                <button type="button" class="button is-danger is-small" id="confirmDeleteBtn">Delete!</button>
                <button class="button is-info is-small" onclick="$('#confirmDialog').removeClass('is-active');">Close</button>
              </footer>
            </div>
        </div>

          <div class="modal is-clipped" id="modalError">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Error</p>
                <button class="delete" aria-label="close" onclick="$('#modalError').removeClass('is-active');"></button>
              </header>
              <section class="modal-card-body">
                <p id="errorMessage">Modal body text goes here.</p>
              </section>
              <footer class="modal-card-foot">
                <button class="button is-danger is-small" onclick="$('#modalError').removeClass('is-active');">Close</button>
              </footer>
            </div>
          </div>        
            

{% endblock %}

{% block scripts %}
    <!-- Your custom scripts (optional) -->
    <script type="text/javascript">

        function dropHandler(ev) {
        // console.log('File(s) dropped');

        // Prevent default behavior (Prevent file from being opened)
        ev.preventDefault();

            if (ev.dataTransfer.items) {
                // Use DataTransferItemList interface to access the file(s)
                console.log(ev.dataTransfer.files);  
                const dt = new DataTransfer()
                for (var i = ev.dataTransfer.files.length-1; i >= 0; i--) {
                // // If dropped items aren't files, reject them
                //     if (ev.dataTransfer.items[i].kind === 'file') {
                //         var file = ev.dataTransfer.items[i].getAsFile();
                //         console.log('... file[' + i + '].name = ' + file.name);
                //     }
                    if (ev.dataTransfer.files[i].name.endsWith("vhd")) {
                        dt.items.add(ev.dataTransfer.files[i]);
                    }
                }            
                console.log(dt.files.length); 
                if (dt.files.length > 0) {
                    $("#fileToUpload")[0].files = dt.files;
                    $("#fileToUpload").trigger('change');
                } else {
                    $("#fileToUpload").val('');
                    const fileName = document.querySelector('#fileselector .file-name');
                    fileName.textContent = "...";
                }                
                // $("#fileToUpload").trigger("change");
            } else {
                // $("#fileToUpload").val('');
                // Use DataTransfer interface to access the file(s)
                // for (var i = 0; i < ev.dataTransfer.files.length; i++) {
                //     console.log('... file[' + i + '].name = ' + ev.dataTransfer.files[i].name);
                // }
            }
        }
        function dragOverHandler(ev) {
            // console.log('File(s) in drop zone');
            // Prevent default behavior (Prevent file from being opened)
            ev.preventDefault();
        }

        const fileInput = document.querySelector('#fileselector input[type=file]');
        fileInput.onchange = () => {
            if (fileInput.files.length > 0) {
                var filestr = "";
                for (var i = 0; i < fileInput.files.length; i++) {
                    filestr = filestr + fileInput.files[i].name + ",";
                }
                const fileName = document.querySelector('#fileselector .file-name');
                fileName.textContent = filestr.substring(0, filestr.length - 1);
            } else {
                const fileName = document.querySelector('#fileselector .file-name');
                fileName.textContent = "...";
            }           
        }

        $(document).ready(function() {
            $('#saveasalert').hide();
            settop('{{toplevel}}',false);
        });

        function settop(fname,record) {
            // $(('#vhd' + fname)).addClass('list-group-item-primary').siblings().removeClass('list-group-item-primary');
            $('[id^=vhd]').each(function( index ) {
                $(this).removeClass('has-background-light');
            });
            $(('#vhd' + fname)).addClass('has-background-light');
            $(".settopbtl").prop( "disabled", false );
            $(('#btl' + fname)).prop( "disabled", true );
            if (record == true) {
                $.post("/settoplevel",{ toplevelfile: fname } ).done(
                    function (data) {
                        data = "";
                    }
                );
            }
        }

        function errorMessage(msg) {
            $("#errorMessage").html(msg);
            // $("#modalError").modal();
            $("#modalError").addClass("is-active");
            $('#bcloseerr').focus();
        }

        function uploadfile() { 

            var numFiles = $("#fileToUpload")[0].files.length;
            if ( numFiles > 20 ) {
                errorMessage("Too many files at once.");
                return;
            } else if (numFiles == 0) {
                errorMessage("No file to upload.");
                return;
            }

            var fdata = new FormData( $("#meuform").get(0) );
            
            // var ajaxUrl = "process-upload.php";				
            $.ajax({
                url : 'upload',
                type : "POST",
                data : fdata,
                // both 'contentType' and 'processData' parameters are
                // required so that all data are correctly transferred
                contentType : false,
                processData : false
            }).done(function(response,statusText, xhr){
                if (response == "Done!") {
                    // $("#status").html("<br>File(s) sent.");                    
                    location.href = "/files";
                    // fpgaCompile();
                } else if (response.startsWith("Fail")) {
                    errorMessage(response);
                }                
                // In this callback you get the AJAX response to check
                // if everything is right...
            }).fail(function(response,statusText,xhr){
                // Here you should treat the http errors (e.g., 403, 404)
                // $("#status").html(response); 
                errorMessage(String(xhr));
                // alert(String(xhr));
            }).always(function(){
                // alert("Chegou!");
                // alert("AJAX request finished!");
            });

        }

        window.socket = 0;
        window.socketOn = false;

        function openSocket() {
            window.socket = io.connect('http://' + document.domain + ':' + location.port + '/stream');
            window.socketOn = true; 
            window.socket.on('disconnect',function() {
                window.socketOn = false;
            });
            window.socket.on('filedeleted',function() {
                location.href = '/';
            });
            window.socket.on('message', function(msg){     
                if ($('#status').html() == "") {
                    $('#status').html(String(msg));
                } else {
                    $('#status').append('<br>'+String(msg));
                }                
            });
            window.socket.on('errors', function(msg){
                $('#status').append('<br><span style="color:red;">Errors:<br>'+String(msg)+"</span>");
                $("#myspinner").hide();
            });
            window.socket.on('success',function(msg){
                $('#status').append(`
                    <span style="color:blue;">
                        Compilation successful!<br>
                        You can now start your emulation.
                    </span>
                `);
                $("#gotoemul").attr('disabled', false);
                $("#myspinner").hide();
            });
            window.socket.on('error',function(msg){
                errorMessage(String(msg));
            });
            window.socket.on('filerenamed',function(msg){
                location.href = '/';
            });
            window.socket.on('notlogged',function(msg){
                location.href = '/login';
            });
      
        }

        window.filetorename = "";
        function rename(fname) {
            window.filetorename = fname;
            $("#filenameas").val(fname);
            $("#modalSaveAs").addClass("is-active"); //.modal();
            $("#filenameas").focus();
        }

        function renameTo() {           
            $('#saveasalert').hide();
            val = $("#filenameas").val();
            if ((val != "") && (val != window.filetorename)) {
                if ( val.endsWith(".vhd") ) {
                    if (!window.socketOn) { openSocket(); }
                    window.socket.emit("renamefile",{filename: window.filetorename, filenameto: val});
                    $("#modalSaveAs").removeClass("is-active"); //.modal('hide');              
                } else {
                    //alert("Error: File does not end with .vhd or .vhdl.")
                    $("#saveasalert").show();
                }            
            }     
        }

        function deletefile(fname) {  
            $('#confirmDialogMessage').html("Deleting '" + fname + "'.\nAre you sure?"); 

            $('#confirmDeleteBtn').off('click');
            $('#confirmDeleteBtn').click( function() {
                // alert(fname);
                if (!window.socketOn) { openSocket(); }
                window.socket.emit("deletefile",fname);
                $('#confirmDialog').removeClass("is-active");
            });

            $('#confirmDialog').addClass("is-active");         
       
        }

        function deleteAllFiles() {
            $('#confirmDialogMessage').html("Deleting ALL FILES!!!<br>Are you REALLY sure?"); 

            $('#confirmDeleteBtn').off('click');
            $('#confirmDeleteBtn').click( function() {
                if (!window.socketOn) { openSocket(); }
                window.socket.emit("deleteallfiles","");
                $('#confirmDialog').removeClass("is-active");
            });

            $('#confirmDialog').addClass("is-active");   

        }

        function fpgaCompile() {
            $("#status").html("");
            $("#myspinner").show();
            $("#gotoemul").attr('disabled', true);
            // $("#fullHeightModalRight").modal();
            $("#compilationmodal").addClass("is-active");
            if (!window.socketOn) { openSocket(); }
            window.socket.send("Compile")            
        }

        // function fpgaCompile() {
        //     var socket = io.connect('http://' + document.domain + ':' + location.port + '/stream')
        //     socket.send("Compile")
        //     socket.on('message', function(msg){                
        //         $('#status').append('<br>'+String(msg));
        //     });
        //     socket.on('errors', function(msg){
        //         $('#status').append('<span style="color:red;"><br>Errors:<br>'+String(msg)+"</span>");
        //     });
        //     socket.on('success',function(msg){
        //         $('#status').append(`
        //             <br><span style="color:blue;">
        //                 Compilation successful!<br>
        //                 You can now start your emulation.
        //             </span>
        //         `);
        //     });
        // }
        
    </script>
    
{% endblock %}