{% extends "base.html" %}


{% block styles %}
<style>      
    #maincard{
      /* height: 370px; */
      margin-top: auto;
      margin-bottom: auto;
      width: 400px;
    }
</style>
{% endblock %} 



{% block content %}

<div class="container is-fullwidth">
                         
    <div class="card mx-auto my-4" id="maincard">
                      
      <div class="card-header">
        <p class="card-header-title has-background-info has-text-white">
            Sign Up to FPGA Emul Web
        </p>
      </div>
      <div class="card-content">
        <form method="POST" action="signup">

            <div class="field">
                <label class="label">Name</label>
                <div class="control has-icons-left">
                  <input class="input" type="text" name="name" placeholder="name" required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                  <!-- <span class="icon is-small is-right">
                    <i class="fas fa-exclamation-triangle"></i>
                  </span> -->
                </div>
                <!-- <p class="help is-danger">This email is invalid</p> -->
              </div>

          <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left">
              <input class="input" type="email" name="email" placeholder="your@email" required>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <!-- <span class="icon is-small is-right">
                <i class="fas fa-exclamation-triangle"></i>
              </span> -->
            </div>
            <!-- <p class="help is-danger">This email is invalid</p> -->
          </div>

          <div class="field">
            <label class="label">Password</label>
            <p class="control has-icons-left">                
              <input class="input" type="password" name="password" placeholder="Password" required>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>

          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <!-- <article class="message is-danger is-light my-1">
                <div class="message-body py-1 px-1"> -->
                <div class="notification is-danger is-light py-1 px-2">
                  {{ messages[0] }}
                </div>
                <!-- </div>
              </article> -->
            {% endif %}
            {% endwith %} 
         
          <input type="submit" value="Sign Up" class="button is-info mt-1 mb-2" >

          </form> 

          <article class="message is-info m-0 is-small">
            <div class="message-body p-2 mt-2 mb-0">
                <a href="login" class="text-white ml-1">Back to the Login Page</a>
            </div>
          </article>
          
                           
      </div>
            

    </div>

</div>


{% endblock %}