{% extends "base.html" %}

{% block content %}

        <!-- <div class="container mt-4 mb-4">
            <h5>Your <strong>id</strong> is {{ username }}.</h5>     
        </div> -->

        <div class="container is-max-desktop px-4">

            <article class="message is-info mt-2 mb-2">
                <div class="message-body py-3">
                    <p class="text">The <strong>.ghw</strong> file resulting from your simulation can be opened
                        using the <a href="http://gtkwave.sourceforge.net/" target="_BLANK">GTKWave</a> software.</p>
                </div>
            </article>

            <div class="box mx-auto" style="max-width: 450px;">

                <form class="" id="meuform" enctype="multipart/form-data" style="min-width: 250px;">

                    <h4 class="title is-4 mb-4 has-text-centered">Simulation Options</h4>

                    <div class="">

                        <h6 class="title is-6 is-inline">Testbench file:</h6>
                        <div class="select is-info is-fullwidth is-small">
                            <select id="fileselect" class="" onchange="">
                                {% for fname in filenames %}
                                    <option value="{{fname}}" {{'selected' if selectedfile==fname else ''}}>{{fname}}</option>
                                {% endfor %}
                            </select> 
                        </div>

                        <article class="message is-danger is-light my-1 pr-1">
                            <div class="message-body p-1 is-size-7">
                                If selected file is not a <strong>testbench</strong>,
                                    simulation will return empty.
                            </div>
                        </article>

                    </div>
    

                    <div class="block mt-2 mb-0">
                        <h6 class="title is-6 is-inline">Stop time:</h6>
                        <input type="text" id="stoptime" class="input is-small" value="200 ns">                        
                    </div>
    
                    <div class="block mt-2">
                        <h6 class="title is-6 is-inline">Output file:</h6>
                        <input type="text" id="outputfile" class="input is-small" value="output.ghw" disabled>
                    </div>
                    
                    </div>
                </form>

            </div>
            

            <div class="container has-text-centered">
                <button type="button" class="button is-danger mt-3" onclick="runSimulation();">Run simulation...</button>
            </div>

        </div>

        <div class="modal is-clipped" id="simulationmodal">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Compilation</p>
                <button class="delete" aria-label="close" onclick="$('#simulationmodal').removeClass('is-active');"></button>
              </header>
              <section class="modal-card-body">
                <div id="myspinner" class="loader is-loading"></div>
                <div id="status">    
                </div>   
              </section>
              <footer class="modal-card-foot">
                <button class="button is-danger is-small" onclick="$('#simulationmodal').removeClass('is-active');">Close</button>
                <button id="gotoemul" type="button" class="button is-info is-small" onclick="location.href = '/downloadsimfile'">Download file</button>
                <button id="gotoplot" type="button" class="button is-info is-small" onclick="location.href = '/plottest'">View Online</button>                
              </footer>
            </div>
          </div>


{% endblock %}

{% block scripts %}
    <!-- Socket.IO: -->
    <!-- <script src="/static/socket.io.js"></script> -->
    <!-- Your custom scripts (optional) -->
    <script type="text/javascript">

        $(document).ready(function() {
            // $('#saveasalert').hide();
        });

        window.socket = 0;
        window.socketOn = false;

        function openSocket() {
            window.socket = io.connect('http://' + document.domain + ':' + location.port + '/stream');
            window.socketOn = true; 
            window.socket.on('disconnect',function() {
                window.socketOn = false;
            });
            window.socket.on('message', function(msg){     
                if ($('#status').html() == "") {
                    $('#status').html(String(msg));
                } else {
                    $('#status').append('<br>'+String(msg));
                }                
            });
            window.socket.on('errors', function(msg){
                $('#status').append('<span style="color:red;">Errors:<br>'+String(msg)+"</span>");
                $("#myspinner").hide();
            });
            window.socket.on('success',function(msg){
                $('#status').append(`
                    <span style="color:blue;">
                        Simulation successful!<br>
                        You can download your file now.
                    </span>
                `);
                $("#gotoemul").attr('disabled', false);
                $("#gotoplot").attr('disabled', false);
                $("#myspinner").hide();
            });
            window.socket.on('error',function(msg){
                alert("Error: " + String(msg));
            });
      
        }


        function runSimulation() {
            $("#status").html("");
            $("#myspinner").show();
            $("#gotoemul").attr('disabled', true);
            $("#gotoplot").attr('disabled', true);
            $("#simulationmodal").addClass("is-active");
            if (!window.socketOn) { openSocket(); }
            var selectedfile = $("#fileselect").children("option:selected").val();
            // alert($("#stoptime").val());
            window.socket.emit("Simulate",$("#stoptime").val(),selectedfile);    
        }
        
    </script>
    
{% endblock %}